In [1]:
import pandas

In [2]:
final = pandas.read_csv("restaurant_almost_final.csv")
final

,Unnamed: 0,business_id,city,postal_code,stars,review_count,Type,hours,day_of_the_week
0,0,zZrDoiQIUmiVkifJx0h_KA,Santa Barbara,93101,4.5,8,Coffee,7:0-18:0,Friday
1,1,zZrDoiQIUmiVkifJx0h_KA,Santa Barbara,93101,4.5,8,Coffee,7:0-18:0,Monday
2,2,zZrDoiQIUmiVkifJx0h_KA,Santa Barbara,93101,4.5,8,Coffee,7:0-18:0,Saturday
3,3,zZrDoiQIUmiVkifJx0h_KA,Santa Barbara,93101,4.5,8,Coffee,7:0-18:0,Sunday
4,4,zZrDoiQIUmiVkifJx0h_KA,Santa Barbara,93101,4.5,8,Coffee,7:0-18:0,Thursday
...,...,...,...,...,...,...,...,...,...
3138,3138,_nSL2u-ZzX6kkAF2D2EZgQ,Goleta,93117,3.5,77,American,16:0-21:0,Saturday
3139,3139,_nSL2u-ZzX6kkAF2D2EZgQ,Goleta,93117,3.5,77,American,0:0-0:0,Sunday
3140,3140,_nSL2u-ZzX6kkAF2D2EZgQ,Goleta,93117,3.5,77,American,16:0-21:0,Thursday
3141,3141,_nSL2u-ZzX6kkAF2D2EZgQ,Goleta,93117,3.5,77,American,16:0-21:0,Tuesday
3142,3142,_nSL2u-ZzX6kkAF2D2EZgQ,Goleta,93117,3.5,77,American,16:0-21:0,Wednesday

In [3]:
final[['opening','closing']] = final.hours.str.split('-',expand=True)
final['opening'] = final['opening'].str.replace(":",".")
final['closing'] = final['closing'].str.replace(":",".")
final

,Unnamed: 0,business_id,city,postal_code,stars,review_count,Type,hours,day_of_the_week,opening,closing
0,0,zZrDoiQIUmiVkifJx0h_KA,Santa Barbara,93101,4.5,8,Coffee,7:0-18:0,Friday,7.0,18.0
1,1,zZrDoiQIUmiVkifJx0h_KA,Santa Barbara,93101,4.5,8,Coffee,7:0-18:0,Monday,7.0,18.0
2,2,zZrDoiQIUmiVkifJx0h_KA,Santa Barbara,93101,4.5,8,Coffee,7:0-18:0,Saturday,7.0,18.0
3,3,zZrDoiQIUmiVkifJx0h_KA,Santa Barbara,93101,4.5,8,Coffee,7:0-18:0,Sunday,7.0,18.0
4,4,zZrDoiQIUmiVkifJx0h_KA,Santa Barbara,93101,4.5,8,Coffee,7:0-18:0,Thursday,7.0,18.0
...,...,...,...,...,...,...,...,...,...,...,...
3138,3138,_nSL2u-ZzX6kkAF2D2EZgQ,Goleta,93117,3.5,77,American,16:0-21:0,Saturday,16.0,21.0
3139,3139,_nSL2u-ZzX6kkAF2D2EZgQ,Goleta,93117,3.5,77,American,0:0-0:0,Sunday,0.0,0.0
3140,3140,_nSL2u-ZzX6kkAF2D2EZgQ,Goleta,93117,3.5,77,American,16:0-21:0,Thursday,16.0,21.0
3141,3141,_nSL2u-ZzX6kkAF2D2EZgQ,Goleta,93117,3.5,77,American,16:0-21:0,Tuesday,16.0,21.0
3142,3142,_nSL2u-ZzX6kkAF2D2EZgQ,Goleta,93117,3.5,77,American,16:0-21:0,Wednesday,16.0,21.0

In [9]:
final["opening"]=final.opening.astype(float)
final["closing"]=final.closing.astype(float)

final["hours_per_day"]=round(abs(final['closing'] - final["opening"]),1)
final

,Unnamed: 0,business_id,city,postal_code,stars,review_count,Type,hours,day_of_the_week,opening,closing,hours_per_day
0,0,zZrDoiQIUmiVkifJx0h_KA,Santa Barbara,93101,4.5,8,Coffee,7:0-18:0,Friday,7.0,18.0,11.0
1,1,zZrDoiQIUmiVkifJx0h_KA,Santa Barbara,93101,4.5,8,Coffee,7:0-18:0,Monday,7.0,18.0,11.0
2,2,zZrDoiQIUmiVkifJx0h_KA,Santa Barbara,93101,4.5,8,Coffee,7:0-18:0,Saturday,7.0,18.0,11.0
3,3,zZrDoiQIUmiVkifJx0h_KA,Santa Barbara,93101,4.5,8,Coffee,7:0-18:0,Sunday,7.0,18.0,11.0
4,4,zZrDoiQIUmiVkifJx0h_KA,Santa Barbara,93101,4.5,8,Coffee,7:0-18:0,Thursday,7.0,18.0,11.0
...,...,...,...,...,...,...,...,...,...,...,...,...
3138,3138,_nSL2u-ZzX6kkAF2D2EZgQ,Goleta,93117,3.5,77,American,16:0-21:0,Saturday,16.0,21.0,5.0
3139,3139,_nSL2u-ZzX6kkAF2D2EZgQ,Goleta,93117,3.5,77,American,0:0-0:0,Sunday,0.0,0.0,0.0
3140,3140,_nSL2u-ZzX6kkAF2D2EZgQ,Goleta,93117,3.5,77,American,16:0-21:0,Thursday,16.0,21.0,5.0
3141,3141,_nSL2u-ZzX6kkAF2D2EZgQ,Goleta,93117,3.5,77,American,16:0-21:0,Tuesday,16.0,21.0,5.0
3142,3142,_nSL2u-ZzX6kkAF2D2EZgQ,Goleta,93117,3.5,77,American,16:0-21:0,Wednesday,16.0,21.0,5.0

In [10]:
total=final.groupby(["business_id"])["hours_per_day"].sum()
total.columns=['business_id','hours_per_day']
total=total.reset_index()
total

                business_id  hours_per_day
0    -3AooxIkg38UyUdlz5oXdw           69.9
1    -BdYhP-12elmFV7oB1iv4A           45.0
2    -nwNPb3G-0L95igrhkvMtw           67.9
3    -r6nmLB5Vi2TLQCxh0_dtw           42.0
4    04Ss49U_QKYLotcJMAH8cA           56.0
..                      ...            ...
444  z9-8KvMAlVK46De-G3sNJQ           84.0
445  zJpZ-uQ_F0XVgK1u98uWSg           28.2
446  zZrDoiQIUmiVkifJx0h_KA           77.0
447  zeAfmYy9b1gfUJLRBHm6vQ           74.6
448  ziXR7sUrbKRCNeDqfjibUg           97.0

[449 rows x 2 columns]

In [11]:

final_hours=pandas.merge(total,final,on ="business_id")
final_hours["hours_per_week"]=final_hours["hours_per_day_x"]
final_hours=final_hours.drop(columns=["Unnamed: 0","hours","day_of_the_week","opening","closing","hours_per_day_y","hours_per_day_x"])

In [12]:
final_hours=final_hours.drop_duplicates()
final_hours

,business_id,city,postal_code,stars,review_count,Type,hours_per_week
0,-3AooxIkg38UyUdlz5oXdw,Santa Barbara,93101,3.0,436,Italian,69.9
7,-BdYhP-12elmFV7oB1iv4A,Santa Barbara,93109,5.0,41,American,45.0
14,-nwNPb3G-0L95igrhkvMtw,Santa Barbara,93101,2.5,46,Fast Food,67.9
21,-r6nmLB5Vi2TLQCxh0_dtw,Santa Barbara,93101,4.0,215,Deli,42.0
28,04Ss49U_QKYLotcJMAH8cA,Santa Barbara,93101,4.0,97,Deli,56.0
...,...,...,...,...,...,...,...
3108,z9-8KvMAlVK46De-G3sNJQ,Santa Barbara,93101,4.0,239,Healthy,84.0
3115,zJpZ-uQ_F0XVgK1u98uWSg,Santa Barbara,93101,4.5,13,Mexican,28.2
3122,zZrDoiQIUmiVkifJx0h_KA,Santa Barbara,93101,4.5,8,Coffee,77.0
3129,zeAfmYy9b1gfUJLRBHm6vQ,Santa Barbara,93105,4.0,240,Italian,74.6
3136,ziXR7sUrbKRCNeDqfjibUg,Santa Barbara,93101,4.0,262,Mexican,97.0

In [8]:
final_hours.to_csv('restaurant6.csv')